#NEXT_PUBLIC_API_URL=http://localhost:8000/api/website 
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RdlgMKt27r4S67Wj8Gc8C6Yd099zJNGCJcsGPsa0u75F14WEkCHkdVr0SHqG2VA2u4pGhSvFrr7mJlubXaa42Bw00k3uy1Fjp
